{% extends "network/layout.html" %}

{% block body %}
  <form action="{% url 'newpost' %}" method="post">
    {% csrf_token %}
    {{ post_form }}
    <input type="submit" value="Submit">
  </form>
  <hr>
  All posts
  {% for post in all_posts %}
    <div class="product-container container-fluid card my-3">
      <a href="{% url 'profile' post.username %}">
        <h2>{{ post.username }}</h2>
      </a>
      <p>{{ post.post_content }}</p>
      <p>{{ post.creation_time }}</p>
      <p>{{ post.likes }}</p>
      <p>comment</p>
      <form action="{% url 'postcomment' post.id %}">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="Submit">
      </form>
      {% for comment in all_comments %}
        <h4>{{ comment.username }}</h4>
        <p>{{ comment.content }}</p>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
