{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  {% if post_form == "profile_pg" %}
    <div class="product-container container-fluid" style="width: 90%;">
      name: {{ user_profile.username }}
      <br>
      followers: {{ user_profile.follower_count }}
      <br>
      following: {{ user_profile.following_count }}
      <br>
      {% if user.is_authenticated and user.username != user_profile.username %}
          <a href="{% url 'followrequest' user_profile.username %}">
              <button>
                  {% if user in user_profile.follower_list.all %}
                      Unfollow
                  {% else %}
                      Follow
                  {% endif %}
              </button>
          </a>
          <br>
      {% endif %}
    </div>
  {% elif post_form != "profile_pg" and post_form != "following_pg" and user.is_authenticated %}
    <div class="product-container container-fluid" style="width: 90%;">
      <h4>New Post</h4>
      <form id="new-post" action="{% url 'newpost' %}" method="post">
        {% csrf_token %}
        {{ post_form }}
        <input type="submit" value="Submit">
      </form>
    </div>
  {% endif %}
  <hr>
  <h3>All posts </h3>
  <div class="pt-3" style="background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);">
    {% for post in all_posts %}
    <div class="product-container rounded-4 container-fluid card my-5 shadow-sm p-3" style="width: 90%;">
      <div class="d-flex justify-content-between">
        <a class="text-decoration-none" href="{% url 'profile' post.username %}">
          <h4 class="fw-bold">{{ post.username }}</h4>
        </a>
        {% if post.username == user %}
          <i class="bi bi-pencil-square" id="editpost-{{post.id}}" onclick="edit_post(id)"></i>
        {% endif %}
      </div>
      <h5 id="post-{{post.id}}">{{ post.post_content }}</h5>
      <p class="card-subtitle mb-2 text-muted">{{ post.creation_time }}</p>
      <p id="likecount-{{post.id}}">{{ post.likes }} likes</p>
      {% if user.is_authenticated %}
        <button id="like-{{post.id}}" onclick="like_post(id)">
          {% if user in post.liked_by.all %}
            remove like
          {% else %}
            like
          {% endif %}
        </button>
      {% endif %}
      <button id="loadcomment-{{post.id}}" onclick="load_comments(id)">show comments</button>
      <div id="comment-{{post.id}}" style="display: none;">
        {% if user.is_authenticated %}
          <form id="postcomment-{{post.id}}" onsubmit="post_comment(event, id)">
            <input type="text" id="commentcontent-{{post.id}}" placeholder="comment.." required>
            <input type="submit" value="Submit">
          </form>
        {% endif %}
        <div class="ps-5" id="allcomments-{{post.id}}"></div>
      </div>
    </div>
  {% endfor %}
  <div class="product-container container-fluid" style="width: 25rem;">
    <ul class="pagination px-5" style="width: 100%;">
      {% if all_posts.has_previous %}
        <li class="page-item">
          <a href="?page=1" class="page-link">&laquo; first</a>
        </li>
        <li class="page-item">
          <a href="?page={{ all_posts.previous_page_number }}" class="page-link">prev</a>
        </li>
      {% endif %}
      <li class="page-item">
          <p class="page-link fw-bold">{{ all_posts.number }}</p>
      </li>
      {% if all_posts.has_next %}
        <li class="page-item">
          <a href="?page={{ all_posts.next_page_number }}" class="page-link">next</a>
        </li>
        <li class="page-item">
          <a href="?page={{ all_posts.paginator.num_pages }}" class="page-link">last &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
