.navigation-bar {
  position: relative;
}

.comment-form:focus {
  outline: none;
}

@media (min-width: 768px) {
    .navigation-bar {
      position: fixed;
    }
  }

input, textarea {
  max-width: 100%;
}